#VSCode settings
.vscode
Miniconda3-latest-Linux-x86_64.sh
templates/jsconfig.json
templates/node_modules/
templates/package-lock.json
templates/package.json
env_backend
env_min
env_old
renders
colmap_sample
__pycache__
node_modules/
outputs
backend/build
backend/dist