html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}

.button-group {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 1000;
}

.button-group button {
  background-color: #eca2236d;
  border: 1px solid rgb(32, 31, 31);
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

#button-title{
    position:fixed;
    top: 0px;
    left: 10px;
    z-index:1000;    
}

#app {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
}

#canvas-container {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

#console{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 200px;
    background: rgba(244, 244, 244, 0.8);
    color: rgb(7, 208, 47);
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1000;    
}

#video-player{
    position:fixed;
    width: 300px;
    height: 200px;
    top:10px;
    right:10px;
    background: rgba(244, 244, 244, 0.8);
    font-family: monospace;
    font-size:12px;
    padding:10px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1000;
}

#console-title{
    position:fixed;
    bottom:210px;
    right:240px;
}

h2{
    font-family:monospace;
    font-size:20px;
    color: peachpuff;
}